.payment_methods_container {
    font-family: 'Ubuntu';
    font-size:  small;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 38, 132, 0.3);
    color: rgb(34, 57, 57);

}

.delete_button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lista li {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 5px;
    font-size: 15px;
    color: darkslategray;
}

.text_min {
    font-size: 10px;
}